// src/styles/global.scss

@use 'variables';
@use 'mixins';
@use 'common-page-styles';
@use 'modal-styles';
@use 'button-base';

html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  list-style: none;
  color: #000;
}
