// src/styles/MainMenu.module.scss

@use 'variables';
@use 'mixins';
@use 'common-page-styles';
@use 'button-base';

.bodyBackground {
  @include common-page-styles.body-background-base;
  height: 100vh;
  padding: 0;
  justify-content: center;
}

.menuContainer {
  background: rgba(0, 0, 0, 0.75);
  padding: 40px;
  border-radius: 16px;
  text-align: center;
  box-shadow: 0 0 20px variables.$gold-color;
  gap: 20px;
}

.gameTitle {
  color: variables.$gold-color;
  font-size: 48px;
  margin-bottom: 30px;
  text-shadow: 2px 2px 8px #000;
}

.menuButtons {
  button {
    @include button-base.button-base;

    & {
      background-color: variables.$gold-color;
      color: #000000;
      border: none;
      box-shadow: 0 0 10px rgba(variables.$gold-color, 0.2);
    }

    &:hover {
      @include button-base.gold-button-hover;
    }
  }
}

.geekChill {
  font-size: 20px;
  color: variables.$gold-color;
  font-weight: bold;
  margin-bottom: 10px;
}

.inst {
  font-size: 15px;
  color: #000;
  font-weight: bold;
  border: 1px solid variables.$gold-color;
  border-radius: 50px;
  background-color: variables.$gold-color;
  @include mixins.flex-center;
  opacity: 0.9;
  margin-bottom: 10px;
  gap: 10px;
  height: 40px;
}

.characterBtnDiv {
  position: fixed;
  bottom: 40px;
  left: 0;
  width: 100%;
  text-align: center;
  padding: 20px;
  z-index: 1000;

  button {
    @include button-base.button-base;

    & {
      background: #000000;
      color: variables.$gold-color;
      border: 2px solid variables.$gold-color;
      width: auto;
      min-width: 250px;
      box-shadow: 0 0 15px rgba(variables.$gold-color, 0.2);
    }

    &:hover {
      @include button-base.dark-button-hover;
    }

    &:active {
      @include button-base.button-active;
    }
  }
}

@media (max-width: 768px) {
  .menuContainer {
    padding: 30px;
    margin: 20px;
    width: 90%;
  }

  .gameTitle {
    font-size: 36px;
  }

  .menuButtons button {
  }

  .characterBtnDiv {
    bottom: 20px;
    padding: 15px;

    button {
      min-width: 200px;
    }
  }
}
